name: Build, Test & Publish
on:
  push:
    branches:
      - master # Default release branch, may also be named 'master' or 'develop'
jobs:
  publish:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: build, pack & publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.301

      - name: Run Unit Tests
        run: dotnet test

      - name: Package
        run: dotnet pack -c Release -o . InnerTube/InnerTube.csproj

      - name: Publish to NuGet
        run: dotnet nuget push *.nupkg -k ${{ secrets.NUGET_KEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate